<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Chat</title>
</head>
<body>
    <!-- Navigation Bar -->
    <nav> 

    </nav>
    <div id="main-section">   
        <!-- Room Selection -->
        <nav id="sidebar">

        </nav>
        <!-- Message Area -->
        <div id="rightside-pannel">
            <!-- Display Area -->
            <div id="display-message-section">

            </div>
            <!-- Input Message -->
            <div id="input-area">
                <input type="text" id="user_message" placeholder="Type Here..." autocomplete="off">
                <button type="button" id="send_message">SEND</button>
            </div>

        </div>

    </div>
    <!-- SocketIO JS -->
    <!-- Adding scripts in the bottom renders a bit faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/socketio.js')}}"></script>    
</body>
</html>